        /* ------------------- tile column size -----------------------*/
        .isotope-column-size {
            width:40px;
        }
        
        .isotope-control {
            margin:2.5px;
        }
        
        /* ------------------- tile header size -----------------------*/
        .isotope-control .isotope-header {
            height: 15px;
            font-size:0.6em;
            border-bottom:2px solid gray;
        }
        
        /* ------------------- width -----------------------*/
        .isotope-control .width1 { width: 35px; }
        .isotope-control .width2 { width: 72.5px; }
        .isotope-control .width3 { width: 110px; }
        .isotope-control .width4 { width: 147.5px; }
        .isotope-control .width5 { width: 185px; }
        .isotope-control .width6 { width: 222.5px; }
        .isotope-control .width7 { width: 260px; }
        .isotope-control .width8 { width: 297.5px; }
        .isotope-control .width9 { width: 335px; }
        .isotope-control .width10 { width: 372.5px; }
        .isotope-control .width11 { width: 410px; }
        .isotope-control .width12 { width: 447.5px; }
        .isotope-control .width13 { width: 485px; }
        .isotope-control .width14 { width: 522.5px; }

        /* ------------------- height -----------------------*/
        .isotope-has-header .height1 { height: 20px; }
        .isotope-has-header .height2 { height: 57.5px; }
        .isotope-has-header .height3 { height: 95px; }
        .isotope-has-header .height4 { height: 132.5px; }
        .isotope-has-header .height5 { height: 170px; }
        .isotope-has-header .height6 { height: 207.5px; }
        .isotope-has-header .height7 { height: 245px; }
        .isotope-has-header .height8 { height: 282.5px; }
        .isotope-has-header .height9 { height: 320px; }
        .isotope-has-header .height10 { height: 357.5px; }
        .isotope-has-header .height11 { height: 395px; }
        .isotope-has-header .height12 { height: 432.5px; }
        .isotope-has-header .height13 { height: 470px; }
        .isotope-has-header .height14 { height: 507.5px; }

        .isotope-no-header .height1 { height: 35px; }
        .isotope-no-header .height2 { height: 72.5px; }
        .isotope-no-header .height3 { height: 110px; }
        .isotope-no-header .height4 { height: 147.5px; }
        .isotope-no-header .height5 { height: 185px; }
        .isotope-no-header .height6 { height: 222.5px; }
        .isotope-no-header .height7 { height: 260px; }
        .isotope-no-header .height8 { height: 297.5px; }
        .isotope-no-header .height9 { height: 335px; }
        .isotope-no-header .height10 { height: 372.5px; }
        .isotope-no-header .height11 { height: 410px; }
        .isotope-no-header .height12 { height: 447.5px; }
        .isotope-no-header .height13 { height: 485px; }
        .isotope-no-header .height14 { height: 522.5px; }

        /* ------------------- font size ----------------------*/
        .isotope-control .width1 .font-small { font-size: 0.3em; }
        .isotope-control .width2 .font-small { font-size: 0.5em; }
        .isotope-control .width3 .font-small { font-size: 0.7em; }
        .isotope-control .width4 .font-small { font-size: 0.9em; }
        .isotope-control .width5 .font-small { font-size: 1.1em; }
        .isotope-control .width6 .font-small { font-size: 1.3em; }
        .isotope-control .width7 .font-small { font-size: 1.5em; }
        .isotope-control .width8 .font-small { font-size: 1.7em; }
        .isotope-control .width9 .font-small { font-size: 1.9em; }
        .isotope-control .width10 .font-small { font-size: 2.1em; }
        .isotope-control .width11 .font-small { font-size: 2.3em; }
        .isotope-control .width12 .font-small { font-size: 2.5em; }
        .isotope-control .width13 .font-small { font-size: 2.7em; }
        .isotope-control .width14 .font-small { font-size: 2.9em; }
        
        .isotope-control .width1 .font-med { font-size: 0.6em; }
        .isotope-control .width2 .font-med { font-size: 0.8em; }
        .isotope-control .width3 .font-med { font-size: 1em; }
        .isotope-control .width4 .font-med { font-size: 1.2em; }
        .isotope-control .width5 .font-med { font-size: 1.4em; }
        .isotope-control .width6 .font-med { font-size: 1.6em; }
        .isotope-control .width7 .font-med { font-size: 1.8em; }
        .isotope-control .width8 .font-med { font-size: 2em; }
        .isotope-control .width9 .font-med { font-size: 2.2em; }
        .isotope-control .width10 .font-med { font-size: 2.4em; }
        .isotope-control .width11 .font-med { font-size: 2.6em; }
        .isotope-control .width12 .font-med { font-size: 2.8em; }
        .isotope-control .width13 .font-med { font-size: 3em; }
        .isotope-control .width14 .font-med { font-size: 3.2em; }
        
        .isotope-control .width1 .font-large { font-size: 0.8em; }
        .isotope-control .width2 .font-large { font-size: 1em; }
        .isotope-control .width3 .font-large { font-size: 1.2em; }
        .isotope-control .width4 .font-large { font-size: 1.4em; }
        .isotope-control .width5 .font-large { font-size: 1.6em; }
        .isotope-control .width6 .font-large { font-size: 1.8em; }
        .isotope-control .width7 .font-large { font-size: 2em; }
        .isotope-control .width8 .font-large { font-size: 2.2em; }
        .isotope-control .width9 .font-large { font-size: 2.4em; }
        .isotope-control .width10 .font-large { font-size: 2.6em; }
        .isotope-control .width11 .font-large { font-size: 2.8em; }
        .isotope-control .width12 .font-large { font-size: 3em; }
        .isotope-control .width13 .font-large { font-size: 3.2em; }
        .isotope-control .width14 .font-large { font-size: 3.4em; }





        